.searchbar {
    width: 80%;
    height: auto;
    position: relative;
    align-self: center;
}

input {
    width: 100%;
    align-self: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    background-color: rgb(225, 225, 225);
}