.App{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  align-self: center;
}

img.animated-gif{
  width: 80px;
  height: 40px;
}

#buttons{
  display: flex;
  flex-direction: row;
}


.findings{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px; 
}

.title{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 500;
}

.synopsis{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-weight: 500;
  margin-left: 10px;
  margin-bottom: 10px;
}

.Content{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  color: rgb(71, 71, 71);
}

.synopsisPoint{
  margin-top: 10px;
}

#article{
  margin-left: 5px;
}

#breakdown{
  margin-top: 5px;
  word-wrap: break-word;
  width: 500px;

}

.bold{
  font-weight: bold;
}

#header2{
  margin-left:5px;
}







